body nav .brand-logo {
  font-size: 1.5em;
}
body nav ul a:hover {
  background: #0d47a1;
}
body nav,
body nav .nav-wrapper i,
body nav a.sidenav-trigger,
body nav a.sidenav-trigger i,
body .navbar-fixed {
  line-height: 55px;
  height: 55px;
}
body h2 {
  font-size: 2em;
  text-align: center;
}
body section {
  margin-bottom: 200px;
  margin-top: 150px;
}
body header {
  background: linear-gradient(rgba(0, 0, 50, 0.65), rgba(0, 0, 50, 0.65)), url("../img/background.jpg");
  background-position: 30% 10%;
  background-size: cover;
  position: relative;
  height: 600px;
  padding: 180px 10px 0;
}
body header img {
  margin: 0;
  position: relative;
  top: 30px;
}
body header h1 {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 40px;
  font-weight: bold;
  color: white;
  display: inline-block;
}
body header .subtitle {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}
body header .social-links {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
body header .social-links i {
  margin: 0 5px;
  color: white;
}
body header .social-links i:hover {
  color: #42a5f5;
}
body .sidenav {
  background: black;
  color: white;
  text-align: center;
}
body .sidenav img {
  margin-top: 50px;
  margin-bottom: 20px;
}
body .sidenav h3 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}
body .sidenav .subtitle {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 50px;
}
body .sidenav ul li a {
  text-align: left;
  color: white;
}
body .sidenav ul li a:hover {
  background: #0d47a1;
}
body .card {
  position: relative;
  display: inline-block;
  max-width: 400px;
  perspective: 1000px;
}
body .card .card-action {
  text-align: center;
}
body .card .card-action i {
  color: #42a5f5;
}
body .card .card-action i:hover {
  color: orange;
}
body .float-right {
  float: right;
  width: 500px;
  margin-left: 40px;
}

.icon-cards {
  position: relative;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  margin: 0;
  color: white;
  perspective: 1000px;
}

.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateY(0);
  animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.icon-cards__content.step-animation {
  animation: carousel 8s infinite steps(1) forwards;
}

.icon-cards__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.icon-cards__item:nth-child(1) {
  background: #FDD94F;
  transform: rotateY(0) translateZ(35vw);
}
.icon-cards__item:nth-child(2) {
  background: #F87949;
  transform: rotateY(120deg) translateZ(35vw);
}
.icon-cards__item:nth-child(3) {
  background: #FBAB48;
  transform: rotateY(240deg) translateZ(35vw);
}

@keyframes carousel {
  0%, 17.5% {
    transform: translateZ(-35vw) rotateY(0);
  }
  27.5%, 45% {
    transform: translateZ(-35vw) rotateY(-120deg);
  }
  55%, 72.5% {
    transform: translateZ(-35vw) rotateY(-240deg);
  }
  82.5%, 100% {
    transform: translateZ(-35vw) rotateY(-360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
